body {
    background-color: #000000;
    font-family: Arial, sans-serif;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #408080;
}

.input-field {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.submit-btn {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 3px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #0056b3;
}